body{
background-color: darkolivegreen;

}

div {
color:white ;
font-size: 35px;
text-align: justify;
}



h1 {
    color: rgb(0, 80, 0);
    font-size: 50px;
    text-align: center;
text-transform: uppercase;}