*{
    margin: 0;
}

body{
background-color: darkolivegreen;

}

#banner {
    width: 100%;
}


div {
color:white ;
font-size: 35px;
text-align: justify;
width: 85%;
margin: auto;
}



h1 {
    color: rgb(0, 80, 0);
    font-size: 50px;
    text-align: center;
text-transform: uppercase;}